<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="setoursminimarket.My.MySettings.connMinimarket" connectionString="Data Source=DESKTOP-N7U2R53;Initial Catalog=Minimarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
